Source: ros-melodic-rospy-message-converter
Section: misc
Priority: extra
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-rosunit, ros-melodic-std-msgs, ros-melodic-std-srvs
Homepage: http://ros.org/wiki/rospy_message_converter
Standards-Version: 3.9.2

Package: ros-melodic-rospy-message-converter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-message-runtime, ros-melodic-roslib, ros-melodic-rospy, ros-melodic-std-msgs
Description: Converts between Python dictionaries and JSON to rospy messages.
