Source: ros-noetic-rospy-message-converter
Section: misc
Priority: optional
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), python3-numpy, ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-rosunit, ros-noetic-std-msgs, ros-noetic-std-srvs
Homepage: http://ros.org/wiki/rospy_message_converter
Standards-Version: 3.9.2

Package: ros-noetic-rospy-message-converter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-runtime, ros-noetic-roslib, ros-noetic-rospy, ros-noetic-std-msgs
Description: Converts between Python dictionaries and JSON to rospy messages.
